body {
    margin: 0;
    overflow: hidden;
}

#title {
    user-select: none;
    position: absolute;
    top: -5.5vh;
    left: -1.5vw;
    font-size: 7rem;
    font-weight: bold;
    opacity: .2;
    color: #F29696;
    white-space: nowrap;
}

#first-page {
    width: 100vw;
    height: 100vh;
    min-width: 40rem;
    min-height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #FFE2AD;
}

#form {
    width: 70vw;
}

#text-input {
    content: attr(data-content);
    white-space: nowrap;
    text-align: center;
    font-size: 8vw;
    color: #4C657E;
}

#image-box {
    display: flex;
    width: 100%;
    /*overflow: hidden;*/
    justify-content: space-around;
    margin: auto;
    transition: width 2s ease;
    white-space: nowrap;
    border: 5px dashed transparent;
}

#image-box.drag-over {
    border-radius: 50px;
    border-color: #4C657E;
}

#drop-indicator {
    display: none;
}

#image-box.drag-over #drop-indicator {
    display: block;
    width: 70vw;
    height: 30vw;
    margin: 0;
    position: absolute;
    text-align: center;
    line-height: 30vw;
    font-size: 4rem;
    opacity: .5;
    color: green;
    font-weight: bold;
}

#image-box > div {
    text-align: center;
    transition: all 1s ease;
    height: 30vw;
    max-width: 400px;
    max-height: 400px;
}

#image-box > div > img {
    width: 30vw;
    height: 30vw;
    max-width: 400px;
    max-height: 400px;
}

#image-input-box {
      width: 30vw;
}

#image-result-box {
    overflow: hidden;
    width: 0;
}

.clear {
    width: 100%;
}

.message {
    transform: translateX(100vw);
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 10s linear;
    white-space: nowrap;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;
}

.message.active {
    transform: translateX(-100%);
}