<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Halftone</title>
    <link type="text/css" href="../static/css/style.css" rel="stylesheet">
</head>
<body>
<div id="first-page">
    <div id="title">Halftone QRCode v1.0</div>
    <form id="form" method="post" enctype="multipart/form-data">
        <h1 id="text-input" contenteditable spellcheck="false" data-content="Halftone QRCode">Halftone QRCode</h1>
        <div class="clear"></div>
        <div id="image-box">
            <p id="drop-indicator">Drop files on me</p>
            <div id="image-input-box">
                <img src="../static/image/chrome_400.png" id="image-preview">
                <input type="file" size="2" id="image-input" accept="image/*" name="image" style="display: none;">
            </div>
            <div id="image-result-box">
                <img src="" id="image-result">
            </div>
        </div>
    </form>
    <ul id="setting-box">
        <li>
            <label for="version">Version</label>
            <input id="version" name="version" type="range" min="1" max="5" step="1" value="1">
        </li>
        <li>
            <label for="level">Level</label>
            <input id="level" name="level" type="range" min="0" max="3" step="1" value="1">
        </li>
        <li>
            <label for="brightness">Brightness</label>
            <input id="brightness" name="brightness" type="range" min="0" max="1" step="0.1" value="1">
        </li>
        <li>
            <label for="contrast">Contrast</label>
            <input id="contrast" name="contrast" type="range" min="0" max="1" step="0.1" value="1">
        </li>
    </ul>
</div>
<script src="../static/include/jquery.js"></script>
<script src="../static/scripts/halftone.js"></script>
</body>
</html>